* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  font-family: "Spartan", sans-serif;
  line-height: 1.6;
  padding: 0 3rem; }

.header {
  height: 90vh;
  display: flex;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(to right, rgba(12, 93, 123, 0.85), rgba(12, 93, 123, 0.85)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .header__content {
    z-index: 2;
    margin: 0 auto; }

.city {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #f9fbfc; }
  .city__content {
    grid-column: 1 / -1;
    font-size: 2rem;
    padding-top: 10rem;
    text-align: center; }
  .city__text {
    border-top: 1px solid #073344;
    margin: 0 auto;
    padding: 2rem 0 8rem 0;
    width: 50%; }

.gallery {
  grid-column: 1 / -1;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 10rem 30rem;
  grid-auto-flow: dense;
  gap: 1rem;
  justify-content: center; }
  @media screen and (max-width: 56.25em) {
    .gallery {
      grid-template-columns: repeat(2, minmax(24rem, 1fr)); } }
  @media screen and (max-width: 37.5em) {
    .gallery {
      grid-template-columns: 1fr; } }
  .gallery__container {
    width: 100%;
    height: 100%;
    position: relative; }
  .gallery__item {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .gallery__item:hover .gallery__text {
      opacity: 1;
      animation: move-down 0.3s linear;
      padding: 1rem;
      width: 100%; }
  .gallery__media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
    transition: all 0.5s ease-in-out;
    cursor: pointer; }
    .gallery__media:hover {
      transform: scale(1.5); }
    @media screen and (max-width: 37.5em) {
      .gallery__media {
        object-position: initial; } }
  .gallery__text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 4;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-backdrop-filter: blur(0.5rem) saturate(1.8);
    backdrop-filter: blur(0.5rem) saturate(1.8); }

@keyframes move-down {
  0% {
    top: 10%; }
  50% {
    top: 35%; }
  100% {
    top: 50%; } }

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.3rem;
  height: 5vh; }
  .navbar__container {
    display: flex;
    list-style: none; }
  .navbar__item {
    padding: 1.5rem; }
  .navbar__link {
    color: #12103d;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in; }
    .navbar__link:hover {
      background-color: #f20231;
      color: #fff; }

.heading-primary {
  display: block;
  font-weight: 200;
  text-align: center;
  text-transform: capitalize; }
  .heading-primary--main {
    font-size: 10rem;
    letter-spacing: 1rem; }
  .heading-primary--sub {
    font-size: 5rem;
    letter-spacing: 0.5rem; }

.heading-secondary {
  color: #073344;
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-align: center; }

.tall-1 {
  grid-row: span 1; }

.tall-2 {
  grid-row: span 2; }

.tall-3 {
  grid-row: span 3; }

.tall-4 {
  grid-row: span 4; }

.tall-5 {
  grid-row: span 5; }

.tall-6 {
  grid-row: span 6; }

.wide-1 {
  grid-column: span 1; }

.wide-2 {
  grid-column: span 2; }

.wide-3 {
  grid-column: span 3; }

.wide-4 {
  grid-column: span 4; }

.wide-5 {
  grid-column: span 5; }

.wide-6 {
  grid-column: span 6; }

@media screen and (max-width: 56.25em) {
  .wide-3,
  .wide-4,
  .wide-5,
  .wide-6 {
    grid-column: span 2; } }

@media screen and (max-width: 37.5em) {
  .wide-1,
  .wide-2,
  .wide-3,
  .wide-4,
  .wide-5,
  .wide-6 {
    grid-column: span 1; } }

.mb {
  margin-bottom: 2rem; }
